/* Add CSS Styling */
.odd{
    background-color:#f08080 ;
    font-family: Verdana,'Dejavu Sans', sans-serif;
}

.odd.middle{
    font-size: 24px;
}

#div_one{
    color:#0000ff;
    font-size: 36px;
}

#div_two{
    background-color: #90ee90;
    font-size: 24px;
    font-weight: bold;
}